<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="agreewrap">
       		<!---->
			<section>
				<!---->
                <div class="agreeDTBack" id="agreeArea1" style="dispay:none;">
					<h2>필수적 개인정보 수집&middot;이용에 대한 동의</h2>
					<article>
							<div class="listForm">
								<ul>
									<li>개인정보의 수집&middot;이용 목적 : 자동차 매매계약상 의무이행을 위한 재화&middot;용역의 제공, 차량탁송, 임시운행증발급.등록대행.보증수리 및 일반수리 서비스 제공을 위한 본인 확인</li>
									<li>수집하는 개인정보 항목 : 성명, 주민등록번호, 외국인등록번호, 생년월일, 주소, 이메일, 휴대전화, 사업자번호, 상호, 구입차량정보, 신용카드정보(신용카드결제시), 계좌번호(계약해지시)</li>
									<li><strong>개인정보의 보유 및 이용기간 : 상법 등 관련 법령에 의해 보존할 의무가 있는 경우가 아닌 한, 수집&middot;이용 목적 달성 후 파기</strong></li> 
									<li><strong>개인정보(고유식별정보 포함) 수집&middot;이용에 미동의시 불이익사항 : 매수인은 동의를 거부 할 수 있으나, 이 경우 매도인은 자동차 매매계약을 거절 할 수 있으며, 해약시 해약금을 지급할 수 없습니다.</strong></li>
								</ul>
							</div>
							<div class="agreeBtm">
								<p>본인은 귀사가 상기 목적으로 본인의 개인정보를 수집&middot;이용하는 것에 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
								<div>
									<span class="checkSet">
										<input type="radio" name="agree_01" id="chk_01" checked />
										<label for="chk_01"><i></i>동의함</label>
									</span>
									<span class="checkSet">
										<input type="radio" name="agree_01" id="chk_02">
										<label for="chk_02"><i></i>동의하지 않음</label>
									</span>
								</div>
							</div> 
							<div class="agreeBtm">
								<p>본인은 귀사가 상기 목적으로 상기 보유&middot;이용&middot;제공 기간동안 본인의 고유식별정보(주민등록번호, 운전면허 번호, 여권번호, 외국인등록번호)를 수집.이용하는데 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
								<div>
									<span class="checkSet">
										<input type="radio" name="agree_012" id="chk_012" checked />
										<label for="chk_012"><i></i>동의함</label>
									</span>
									<span class="checkSet">
										<input type="radio" name="agree_012" id="chk_022">
										<label for="chk_022"><i></i>동의하지 않음</label>
									</span>
								</div>
							</div> 
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea2" style="dispay:none;">
					<h2>필수적 개인정보 제3자 제공에 대한 동의</h2>
					<article>
						<div class="listForm">
						    <ul>
							    <li><strong>제공대상: 국토교통부, 국세청, 국립환경과학원</strong></li>
							    <li><strong>제공정보 이용목적: 자동차 임시운행 발급 업무, 세금계산서 발급 업무, 과세신고</strong></li>
							    <li><strong>제공하는 개인정보 항목: 성명, 주민등록번호, 상호, 사업자번호, 주소, 전화번호, 이메일, 운전면허번호, 여권번호, 차량구입정보(차종, 차명, 차대번호),</strong></li>
							    <li><strong>보유 및 이용기한: 제공받은 기관의 이용목적 달성 후 즉시폐기</strong></li>
							    <li><strong>개인정보(고유식별정보 포함) 수집&middot;이용에 미동의시 불이익 사항 : 매수인은 3자제공 동의를 거부 할 수 있으나, 이 경우 매도인은 자동차 매매계약을 거절 할 수 있습니다.</strong></li>
							</ul>
						</div>
						<div class="agreeBtm">
							<p>본인은 귀사가 상기 목적으로 본인의 개인정보를 제3자에게 제공하는 것에 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
							<div>
								<span class="checkSet">
									<input type="radio" name="agree_02" id="chk_03" checked />
									<label for="chk_03"><i></i>동의함</label>
								</span>
								<span class="checkSet">
									<input type="radio" name="agree_02" id="chk_04">
									<label for="chk_04"><i></i>동의하지 않음</label>
								</span>
							</div>
						</div>
						<div class="agreeBtm">
							<p>본인은 귀사가 상기 목적으로 상기 보유.이용 기간동안 본인의 고유식별정보(주민등록번호, 운전면허 번호, 외국인등록번호, 여권번호)를 제3자에 제공하는 것에 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
							<div>
								<span class="checkSet">
									<input type="radio" name="agree_022" id="chk_032" checked />
									<label for="chk_032"><i></i>동의함</label>
								</span>
								<span class="checkSet">
									<input type="radio" name="agree_022" id="chk_042">
									<label for="chk_042"><i></i>동의하지 않음</label>
								</span>
							</div>
						</div>
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea3" style="dispay:none;">
					<h2>민감정보 수집&middot;이용에 대한 동의</h2>
					<article>
					    <div class="listForm">
						    <ul>
								<li><strong>민감정보의 수집&middot;이용 목적: 장애인 차량구입 대상 확인, 면세신고 및 신규등록 대행</strong></li>
								<li><strong>제공하는 개인정보 항목: 장애유형, 등급 등 신규등록, 면세신고를 위한 민감정보</strong></li>
								<li><strong>보유 및 이용기간: 이용 목적 달성 후 즉시 폐기</strong></li>
								<li><strong>민감정보 제공 미동의에 따른 불이익사항: 매수인은 민감정보의 수집이용에 대해 거부할 수 있으나, 매도인은 동의를 거부할 경우 면세신고 및 신규등록을 할 수 없습니다.</strong></li>
							</ul>
						</div>
						<div class="agreeBtm">
							<p>본인은 귀사가 상기 목적으로 본인의 개인정보를 수집&middot;이용하는 것에 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
						    <div>
							    <span class="checkSet">
									<input type="radio" name="agree_05" id="chk_05" checked />
									<label for="chk_05"><i></i>동의함</label>
								</span>
								<span class="checkSet">
									<input type="radio" name="agree_05" id="chk_05_n">
							        <label for="chk_05_n"><i></i>동의하지 않음</label>
								</span>
							</div>
						</div>
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea4" style="dispay:none;">
					<h2>민감정보 제3자 제공에 대한 동의</h2>
					<article>
					    <div class="listForm">
						    <ul>
								<li><strong>제공대상: 국세청, 국토교통부</strong></li>
								<li><strong>제공정보 이용목적: 면세신고 및 신규등록 관련 서비스 제공</strong></li>
								<li><strong>제공하는 개인정보 항목: 장애유형, 등급 등 신규등록, 면세신고를 위한 민감정보</strong></li>
								<li><strong>보유 및 이용기한: 제공받은 기관의 이용목적 달성 후 폐기</strong></li>
								<li><strong>민감정보 3자 제공 미동의에 따른 불이익사항: 매수인은 민감정보의 제3자 제공에 대해 거부 할 수 있으나, 매도인은 동의를 거부 할 경우 매매계약을 거절 할 수 있습니다.</strong></li>
							</ul>
						</div>
						<div class="agreeBtm">
							<p>본인은 귀사가 상기 목적으로 본인의 민감정보를 제3자에게 제공하는 것에 동의합니다.<br/>(* 정보주체가 만 14세 미만 아동인 경우 법정대리인이 동의하여야 합니다.)</p>
							<div>
								<span class="checkSet">
									<input type="radio" name="agree_11" id="chk_11" checked />
									<label for="chk_11"><i></i>동의함</label>
								</span>
								<span class="checkSet">
									<input type="radio" name="agree_11" id="chk_11_n">
									<label for="chk_11_n"><i></i>동의하지 않음</label>
								</span>
							</div>
						</div>
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea5" style="dispay:none;">
					<h2>선택적 개인정보 수집&middot;이용에 대한 동의<br/>(광고성 정보전달 및 마케팅 활동 동의)</h2>
					<article>
					    <div class="listForm">
						    <ul>
								<li><strong>개인정보의 수집&middot;이용 목적: 전화, 주소(우편), 이메일, SMS(문자)을 수단으로 신규상품/서비스/이벤트 광고성 정보전달 및 마케팅에 활용, 결제방법 등 시장조사, 품질 만족도 조사, 재구매 혜택제공 등</strong></li>
								<li><strong>수집하는 개인정보 항목 : 성명, 생년월일, 주소, 이메일, 휴대전화, 사업자번호, 상호, 구입차량정보 등</strong></li>
								<li><strong>개인정보 보유 및 이용 기간 :'필수적 개인정보 수집&middot;이용에 대한 동의서'에서 정하는 보유 및 이용기간과 동일</strong></li>
								<li><strong>개인정보 수집&middot;이용 미동의 시 불이익 사항 : 매수인은 위 동의를 거부 할 수 있으나, 동의를 거부할 경우 신규상품 및 이벤트 정보 안내, 재구매시 할인 혜택이 제공되지 않을 수 있습니다.</strong></li>
							</ul>
						</div>
						<div class="agreeBtm">
							<p>본인은 귀사가 상기 목적으로 본인의 개인정보를 수집&middot;이용하는 것에 동의합니다.</p>
							<div>
								<span class="checkSet">
									<input type="radio" name="agree_06" id="chk_06" checked />
									<label for="chk_06"><i></i>동의함</label>
								</span>
								<span class="checkSet">
									<input type="radio" name="agree_06" id="chk_06_n">
									<label for="chk_06_n"><i></i>동의하지 않음</label>
								</span>
							</div>
						</div>
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea6" style="dispay:none;">
					<h2>선택적 개인정보 제3자 제공에 대한 동의</h2>
					<article>
                        <table class="agreeTable mobileVer">
                            <colgroup>
                                <col width="40%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제공대상</th>
                                    <td><strong>RCI Korea</strong></td>
                                </tr>
                                <tr>
                                    <th>정보이용목적</th>
                                    <td>자동차할부금융 서비스제공</td>
                                </tr>
                                <tr>
                                    <th>정보제공 항목</th>
                                    <td>성명, 상호, 생년월일, 사업자번호, 이메일, 휴대폰, 전화번호, 차량구입정보</td>
                                </tr>
                                <tr>
                                    <th>보유 및 이용기간</th>
                                    <td><strong>제공받은 기관의 이용&middot;목적 달성 후 폐기</strong></td>
                                </tr>
                                <tr>
                                    <th>미동의 시 불이익 사항</th>
                                    <td>자동차 할부금융 서비스 제공을 받을 수 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="agreeTable mobileVer">
                            <colgroup>
                                <col width="40%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제공대상</th>
                                    <td><strong>한국도로공사㈜</strong></td>
                                </tr>
                                <tr>
                                    <th>정보이용목적</th>
                                    <td>하이패스등록 서비스 제공</td>
                                </tr>
                                <tr>
                                    <th>정보제공 항목</th>
                                    <td>성명, 상호, 생년월일, 사업자번호, 주소, 연락처, 휴대폰번호, 이메일, 구입차량정보</td>
                                </tr>
                                <tr>
                                    <th>보유 및 이용기간</th>
                                    <td><strong>제공받은 기관의 이용&middot;목적 달성 후 폐기</strong></td>
                                </tr>
                                <tr>
                                    <th>미동의 시 불이익 사항</th>
                                    <td>하이패스 서비스를 제공 할 수 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="agreeTable mobileVer">
                            <colgroup>
                                <col width="40%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제공대상</th>
                                    <td><strong>( &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; )보험사</strong></td>
                                </tr>
                                <tr>
                                    <th>정보이용목적</th>
                                    <td>매수자의 자동차 보험가입</td>
                                </tr>
                                <tr>
                                    <th>정보제공 항목</th>
                                    <td>성명, 상호, 생년월일, 사업자번호, 주소, 연락처, 휴대폰번호, 이메일, 구입차량정보</td>
                                </tr>
                                <tr>
                                    <th>보유 및 이용기간</th>
                                    <td><strong>제공받은 기관의 이용&middot;목적 달성 후 폐기</strong></td>
                                </tr>
                                <tr>
                                    <th>미동의 시 불이익 사항</th>
                                    <td>( &nbsp;&nbsp;&nbsp; )보험사에 계약자 정보 및 차량정보를 제공 할 수 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="agreeTable mobileVer last">
                            <colgroup>
                                <col width="40%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>제공대상</th>
                                    <td><strong>삼성카드</strong></td>
                                </tr>
                                <tr>
                                    <th>정보이용목적</th>
                                    <td>자동차 포인트 적용</td>
                                </tr>
                                <tr>
                                    <th>정보제공 항목</th>
                                    <td>고객 고유번호(CI)</td>
                                </tr>
                                <tr>
                                    <th>보유 및 이용기간</th>
                                    <td><strong>제공받은 기관의 이용&middot;목적 달성 후 폐기</strong></td>
                                </tr>
                                <tr>
                                    <th>미동의 시 불이익 사항</th>
                                    <td>삼성카드 자동차포인트 할인 서비스를 제공 할 수 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="agreeBtm">
                            <p>본인은 귀사가 상기 목적으로 보유&middot;이용 기간동안 본인의 개인정보를 제3자에게 제공하는데 동의합니다.</p>
                            <div>
                                <span class="checkSet">
                                    <input type="radio" name="agree_07" id="chk_07" checked />
                                    <label for="chk_07"><i></i>동의함</label>
                                </span>
                                <span class="checkSet">
                                    <input type="radio" name="agree_07" id="chk_07_n">
                                    <label for="chk_07_n"><i></i>동의하지 않음</label>
                                </span>
                            </div>
                        </div>
                        <div class="agreeBtm">
                            <p>본인은 귀사가 상기 목적으로 상기 보유&middot;이용 기간동안 본인의 고유식별정보(주민번호, 운전면허번호, 외국인등록번호)를 제 3자에게 제공하는 것에 동의합니다.</p>
                            <div>
                                <span class="checkSet">
                                    <input type="radio" name="agree_08" id="chk_08" checked />
                                    <label for="chk_08"><i></i>동의함</label>
                                </span>
                                <span class="checkSet">
                                    <input type="radio" name="agree_08" id="chk_08_n">
                                    <label for="chk_08_n"><i></i>동의하지 않음</label>
                                </span>
                            </div>
                        </div>
					</article>
				</div>
				<!--//-->
				<!---->
                <div class="agreeDTBack" id="agreeArea7">
					<h2>개인정보의 취급&middot;위탁 안내</h2>
					<article>
                        <table class="agreeTable mobileVer etcCase">
                            <colgroup>
                                <col width="50%">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>수탁 업체</th>
                                    <th>위탁 업무</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th colspan="2">자동차 판매 대리점</th>
                                </tr>
                                <tr>
                                    <td>강남대리점 등 161개 판매대리점 (증감&middot;변동될 수 있음)</td>
                                    <td>자동차 판매대행 및 사후 고객관리</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">정비 협력업체</th>
                                </tr>
                                <tr>
                                    <td>남동정비사업소 등 451개 업체 (증감&middot;변동될 수 있음)</td>
                                    <td>보증수리, 긴급출동, 차량관리 서비스 프로그램 제공 등</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">고객상담</th>
                                </tr>
                                <tr>
                                    <td>Trans Cosmos Korea</td>
                                    <td>차량구매 및 정비서비스 관련 고객 상담 업무</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">긴급출동</th>
                                </tr>
                                <tr>
                                    <td>삼성화재서비스손해사정㈜</td>
                                    <td>A/S 관련 긴급출동 서비스 제공</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">시장조사 업체</th>
                                </tr>
                                <tr>
                                    <td>㈜컨슈머인사이트, ㈜한국리서치(HRC), (주)입소스코리아, ㈜ 칸타코리아, ㈜마크로밀 엠브렝인</td>
                                    <td>구매차량 만족도 및 신차에 대한 소비자의견 조사, 신차구매자 만족도 조사, 자동차 품평회 조사</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">전산관리</th>
                                </tr>
                                <tr>
                                    <td>㈜삼성SDS, ㈜오픈소스컨설팅	</td>
                                    <td>전산시스템 운영 및 유지보수</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">DM발송</th>
                                </tr>
                                <tr>
                                    <td>㈜아림디엠, 한국전산홈㈜, ㈜엠큐브커뮤니케이션즈, 디자인랩</td>
                                    <td>우편물 및 경품 배송업무 대행</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">SMS 발송</th>
                                </tr>
                                <tr>
                                    <td>㈜다우기술, ㈜세종텔레콤</td>
                                    <td>SMS 발송 업무 대행</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">이메일 발송</th>
                                </tr>
                                <tr>
                                    <td>㈜아이뱅크</td>
                                    <td>고객정보 분석 및 이메일 발송업무 대행</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">차량등록대행</th>
                                </tr>
                                <tr>
                                    <td>오복충일사 등 75개 업체 (증감&middot;변동될 수 있음)</td>
                                    <td>차량등록 및 차량 번호판 장착대행</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th colspan="2">자동차 배송</th>
                                </tr>
                                <tr>
                                    <td>신화로직스, 대명운수, 엠앤피로지텍, 엠엘에스코리아	</td>
                                    <td>매수인의 자동차 배송 및 탁송</td>
                                </tr>
                            </tbody>
                        </table>
					</article>
				</div>
				<!--//-->
				<!-- 2020-05-06 -->
				<div class="btnSet tC pt1">
					<button class="btnS yellow">확인</button>
				</div>
				<!-- //2020-05-06 -->
            </section>
        </div>
        <!-- //wrap -->
    </body>
</html>
