<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
        <link rel="stylesheet" type="text/css" href="../css/font.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
	</head>
	<body>
		<!-- skip-navigation -->
		<div class="skip-navigation">
			<p><a href="#container" tabindex="0">본문 바로가기</a></p>
		</div>
		<!-- //skip-navigation -->
		<!-- errorWrap -->
		<div class="errorWrap">
			<div>
				<strong>4<strong>0</strong>4</strong>
				<p>Sorry! This page you were looking for could not be found.</p>
				<button class="btnM yellow" onClick="location.href='main.html'">Go to Main</button>
			</div>
		</div>
		<!-- //errorWrap -->
	</body>
</html>
