<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!--
        	<div id="header">
                <button class="btnBack">이전</button>
                <h1>내 차 온라인 구매</h1>
        	</div>-->
       		<!---->
            <div id="container">
            	<section>
                    <div class="main">
						<article>
							<div class="main_info">
								<p>재서명이 필요한 온라인 계약의 차량정보 입니다.<br/>선택한 차량정보를 확인하시고<br/>온라인 계약을 진행해 주시기 바랍니다.</p> <!-- 2020-05-06 -->
								<img src="https://www.renaultsamsungm.com/upload/asset/sm5/color/big_GXA.png" alt="SM5">
							</div>
							<div class="add_option">
								<span class="step ok">계약</span>
								<dl class="dlStyle2 head">
									<dt class="lh2"><strong>SM5 classic</strong><span>20,000,000</span></dt>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>COLOR</strong><span>0</span></dt>
									<dd>마이센 블루(ABC)</dd>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>INTERIOR</strong><span>0</span></dt>
									<dd>최고급 가죽시트 / 메시 패턴 그레인</dd>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>OPTION</strong><span>150,000</span></dt>
									<dd>LED 라이팅 패키지</dd>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>ACCESSORY</strong><span>3,403,000</span></dt>
									<dd><span>3M 프리미엄 틴팅 필름</span><span>RAYNO 프리미엄 틴팅 필름</span></dd>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>해피케어</strong><span>0</span></dt>
									<dd>선택안함</dd>
								</dl>
								<dl class="dlStyle2">
									<dt><strong>탁송료</strong><span>293,000</span></dt>
									<dd>강남대리점</dd>
								</dl>
								<dl class="dlStyle2">
									<dt class="notPrice"><strong>구매방법</strong><span>최대 5년 무이자 할부</span></dt>
									<dd>
										<!-- <dl class="dlStyle3">
											<dt>
												<span class="checkSet">
													                                        <input type="checkbox" id="chk1">
													                                        <label for="chk1"><i></i>500,000 할인혜택</label>
													                                    </span>
												                                    </dt>
											<dd>현금결제 시 적용되는 할인혜택입니다.</dd>
										</dl>
										<dl class="dlStyle3">
											<dt>
												<span class="checkSet">
													                                        <input type="checkbox" id="chk2">
													                                        <label for="chk2"><i></i>최대 5년 무이자 할부</label>
													                                    </span>
												                                    </dt>
											<dd>할부 적용은 르노삼성자동차에서 지정한 르노캐피탈의 상품이며, 한도에 따라 무이자 할부 기간이 변동될 수 있습니다.</dd>
										</dl> -->
										<div>할부 적용은 르노삼성자동차에서 지정한 르노캐피탈의 상품이며, 한도에 따라 무이자 할부 기간이 변동될 수 있습니다.</div>
									</dd>
								</dl>
								<dl class="dlStyle2 total">
									<dt class="lh2"><strong>차량 총 견적 금액</strong> <span class="red">23,846,000</span></dt>
								</dl>
								<dl class="dlStyle2 total">
									<dt class="lh2"><strong>등록비</strong><span class="red">1,764,044</span></dt>
								</dl>
								<div class="eCom_chk">
									<!-- 2020-04-24 -->
									<ul>
										<li>
											<span class="checkSet big">
												<input type="checkbox" id="chk1">
												<label for="chk1"><i></i><span>본 계약의 가격정보 및 선택사양이 청약내용과 동일함을 인지하며 계약을 진행합니다.   </span></label>
											</span>
										</li>
										<li>
											<span class="checkSet big">
												<input type="checkbox" id="chk2">
												<label for="chk2"><i></i><span>계약 이후에도 전문 상담사와 통화 시 차량 색상,선택사양 변경 및 선택용품,해피케어 상품을 추가 할 수 있으며, 계약 내용이 변경 될 경우 차량 가격이 변동 됩니다.</span></label>
											</span>
										</li>
										<li class="import"><!-- 2020-05-04 -->
											<span class="checkSet big">
												<input type="checkbox" id="chk3">
												<label for="chk3"><i></i><span>면세 및 감세 혜택자의 경우 반드시 전문상담사에게 관련 내용을 안내 바랍니다.</span></label>
											</span>
										</li>
										<li class="import"><!-- 2020-05-04 -->
											<span class="checkSet big">
												<input type="checkbox" id="chk4">
												<label for="chk4"><i></i><span>등록비용은 일괄 55,000원 적용되었습니다. 공채할인율 및 등록제비용은 지역에 따라 차이가 발생될 수 있습니다.</span></label>
											</span>
										</li>
									</ul>
									<!-- //2020-04-24 -->
								</div>
								<div class="tC"><a class="btnM yellow" href="step.html">온라인 구매 진행하기</a></div>
							</div>
							<!-- 2020-05-06 -->
							<dl class="noticeDl">
								<dt>
									<strong>주의사항</strong>
								</dt>
								<dd>
									온라인 계약 및 확인을 취소하시려면 계약취소를 먼저 신청해주시기 바랍니다.<br/>
									<br/>관련 문의사항은 <span class="hpyCare">전문 상담사</span>를 통해 문의해주시기 바랍니다.<br/><br/>문의처 : ecommerce@renaultsamsungm.com
								</dd>
							</dl>
							<div class="recantBtn"><button class="btnS yellow">계약취소</button></div>
							<!-- //2020-05-06 -->
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
