<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!---->
            <div id="container" class="recantCase">
            	<section>
                    <div class="noSub_main">
						<article>
							<div class="noSub_info">
								<img src="../images/icon_pw_change.png" alt="자동차">
								<p>계약철회통지서 제출이 완료되었습니다.<br/><br/>더욱 노력하는 르노삼성자동차가 되겠습니다. <br/>감사합니다</p>
								<a class="btnM yellow" href="noSub_main.html">확인</a>
							</div>
							<dl class="noticeDl">
								<dt>
									<strong>주의사항</strong>
								</dt>
								<dd>
									온라인 재구매 진행을 위해서는 홈페이지에서 청약신청을 해주시기 바랍니다.<br/><br/>관련 문의사항은 <span class="hpyCare">전문 상담사</span>를 통해 문의해주시기 바랍니다.<br/><br/>문의처 : ecommerce@renaultsamsungm.com <!-- 2020-04-24 -->
								</dd>
							</dl>
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
