<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!--
        	<div id="header">
                <button class="btnBack">이전</button>
                <h1>내 차 온라인 구매</h1>
        	</div>-->
			<div class="stepBack">
				<div class="step step5">
					<span class="fin"><em>Step 1</em></span>
					<span class="fin"><em>Step 2</em></span>
					<span class="fin"><em>Step 3</em></span>
					<span class="now"><em>Step 4</em></span>
					<span><em>Step 5</em></span>
				</div>
        	</div>
       		<!---->
            <div id="container" class="stepCase">
            	<section>
                    <div class="selfCertify">
						<article>
							<h2>매수인 본인인증</h2>
							<div class="certify">
								<div>
									<img src="../images/certify.png" alt="본인인증" onClick="location.href='step06_finish.html'">
								</div>
							</div>
							<div class="btnSet">
								<button class="btnL gray" onClick="location.href='step.html'">이전</button>
								<button class="btnL yellow" disabled >다음</button>
							</div>
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
