<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!--<div id="header">
                <button class="btnBack">이전</button>
                <h1>내 차 온라인 구매</h1>
        	</div>-->
       		<!---->
            <div id="container">
            	<section>
                    <div class="stepP">
						<article>
							<p>전자계약서 작성은 아래와 같은 단계로 진행합니다.</p>
							<div class="step_info">
								<!-- 2020-04-22 -->
								<ul>
									<li>
										<div class="step01">
											<strong>step01</strong><br/>개인정보수집활용 동의
										</div>
									</li>
									<li>
										<div class="step02">
											<strong>step02</strong><br/>매매계약서 작성
										</div>
									</li>
									<li>
										<div class="step03">
											<strong>step03</strong><br/>자동차 교환, 환불 중제재도 안내
										</div>
									</li>
									<li>
										<div class="step04">
											<strong>step04</strong><br/>계약서 확인
										</div>
									</li>
									<li>
										<div class="step05">
											<strong>step05</strong><br/>매수인 본인인증 및 제출
										</div>
									</li>
									<!-- //2020-04-22 -->
								</ul>
							</div>
							<p>계약서 내용 확인 후 성명과 서명을 기입 해주세요.<br/>반드시[제출] 버튼을 클릭하여 전자계약을 완료해 주세요.</p>
							<a class="btnM yellow" href="step01_agreement.html">전자계약서 작성</a>
							<!-- 2020-04-22 -->
							<dl class="noticeDl">
								<dt>
									<strong>주의사항</strong>
								</dt>
								<dd>
									휴대폰 내 공인인증서가 없을 경우, <br/>PC에서 휴대폰으로 인증서 가져오기 절차가 필요합니다.
								</dd>
							</dl>
							<!-- //2020-04-22 -->
							<!--<div class="recantBtn"><button class="btnS yellow">계약철회 신청하기</button></div> 2020-04-23-->
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
