<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!--
        	<div id="header">
                <button class="btnBack">이전</button>
                <h1>내 차 온라인 구매</h1>
        	</div>-->
			<div class="stepBack">
				<div class="step step5">
					<span class="fin"><em>Step 1</em></span>
					<span class="fin"><em>Step 2</em></span>
					<span class="fin"><em>Step 3</em></span>
					<span class="fin"><em>Step 4</em></span>
					<span class="fin"><em>Step 5</em></span>
				</div>
        	</div>
       		<!---->
            <div id="container" class="stepCase">
            	<section>
                    <div class="noSub_main">
						<article>
							<div class="noSub_info">
								<img src="../images/icon_pw_change.png" alt="자동차">
								<p>전자계약서 작성이 완료되었습니다.<br/>르노삼성자동차를 구매해 주셔서 감사합니다.</p>
								<a class="btnM yellow" href="eCom_check.html">온라인 계약/확인</a> <!-- 2020-05-06 -->
							</div>
							<dl class="noticeDl">
								<dt>
									<strong>주의사항</strong>
								</dt>
								<dd>
									구매 시 연락처, 주소 변경 등 전자계약서 작성 시 내용의 변경 사항이 발생할 경우,<br/><span class="hpyCare">전문 상담사</span>를 통해 문의해주시기 바랍니다.<br/><br/>문의처 : ecommerce@renaultsamsungm.com <!--2020-04-24-->
								</dd>
							</dl>
							<!--<div class="recantBtn"><button class="btnS yellow">계약철회 신청하기</button></div> 2020-04-23-->
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
