<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="format-detection" content="telephone=no"/>
		<title>르노삼성자동차 e-Commerce</title>
		<link rel="stylesheet" type="text/css" href="../css/font.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.4.0.min.js"></script>
		<script src="../js/common.js"></script>
    </head>
    <body>
        <!-- wrap -->
        <div id="wrap">
       		<!--
        	<div id="header">
                <button class="btnBack">이전</button>
                <h1>내 차 온라인 구매</h1>
        	</div>-->
			<div class="stepBack">
				<div class="step step5">
					<span class="fin"><em>Step 1</em></span>
					<span class="fin"><em>Step 2</em></span>
					<span class="fin"><em>Step 3</em></span>
					<span class="now"><em>Step 4</em></span>
					<span><em>Step 5</em></span>
				</div>
        	</div>
       		<!---->
            <div id="container" class="stepCase">
            	<section>
                    <div class="lemonLayout">
						<article>
							<h2>자동차 교환,환불 중제재도 설명에 대한 이해 및 동 규정 수락여부 확인서</h2>
							<h3>[교환·환불 중재제도 요지]</h3>
							<div class="agreeDTBack">
								<div class="listForm lemon">
									<ul>
										<li>(중재의 정의) “중재”는 분쟁당사자들 간의 합의로 그들의 분쟁을 중립적 사람(중재위원) 또는 중재부(중재판정부)의 결성(중재판정)에 의하여 해결하고 고 결성에 구속되는 분쟁해결절차를 말합니다.</li>
										<li>(중재합의) ① “중재합의”는 당사자 간에 이미 발생했거나 발생이 예상되는 분쟁의 전부 또는 일부를 중재에 의하여 해결하도록 하는 당사자 간의 합의를 말합니다.<br/>
										<div>② 자동차 교환·환불중재 규정(이하”중재규정”이라 합니다)이 적용되는 중재합의는 앙 당사자 모두가 자동차관리법 제47조의4 제1항에 따라 중재규정을 수락했을 때 성립합니다.</div></li>
										<li>(중재합의의 성립과 효과) ① 자동차관리법 제47조의4 제1항에 따라 제작자가 사선에 중재규정을 수락하였고 또한 동 제작자가 제작한 차량의 구매자가 매매계약을 체결할 때 또는 교환·환불중재를 신청할 때 중재규정을 수락한 경우, 자동차 교환·환불 중재합의가 성립된 것으로 간주됩니다.
										<div>② 제1항에 따라 자동차 교환·환불 중재합의가 성립되면 양 당사자는 동일한 내용의 교환·환불을 이유로 법원에 소송을 제기할 수 없습니다.</div>
										<div>③ 제1항에 따라 자동차 교환·환불 중재합의가 성립되면 1958년 ‘외국중재판정의 승인 및 집행에 관한 뉴욕협약’ 제2조에 규정된 승인 및 집행의 요건으로서 중재에 대한 서면 합의 요건을 충족하는 것으로 봅니다.</div></li>
										<li>(중재판정의 효력) 중재판정은 제작자와 소유자에 대하여 법원의 확정판결과 동일한 효력이 있습니다.<br/>
										※ 자동차매매계약서에 중재규정 전문이 첨부되어 있으므로 반드시 해당 내용을 확인하시기 바랍니다.</li>
									</ul>
								</div>
							</div>
							<h3>[중요안내사항]</h3>
							<div class="agreeDTBack">
								<div class="listForm lemon">
									<ul>
										<li>(자동차 교환·환불중재 규정 수락 사실) 르노삼성자동차(주)는 자동차 관리법 제47조의4 제1항 및 동법 제47조의7 제2항에 따라 자동차 안전 하자심의위원회가 제정한 중재규정을 수락하였음을 알려드립니다.</li>
										<li>(신차로의 교환·환불 보장) 르노삼성자동차(주)는 자동차관리법 제47조의2 내지 6에 따라 자동차에 하자 발생 시 신차로의 교환 또는 환불을 보장하고 서면계약의 특약 등으로 교환·환불을 배제하지 많습니다.</li>
										<li>(인도날짜) ① 인도날짜는 자동차관리법 제47조의2 제1항 제1호에 따른 서면계약의 날짜로 하며, 인도차량인수증 등을 통해 실제 인도를 증명할 수 있는 날짜 또는 제작자와 소유자가 합의하는 날짜로 갈음할 수 있습니다.
										<div>② 인도날짜는 자동차관리법 제47조의2 자동차 교환 또는 환불 요건의 소유자의 중재신청 기한. 하자 재발 시점 및 누적수리기간 산정, 대상자동차의 사용기간 등에 대한 기산 기준이 됩니다.</div></li>
										<li>(통지 방법) 중재규정에 따른 통지 또는 그 밖의 연락은 수신인이 동의하는 경우 전자우편, 문자메시지, 팩스 기타 합리적인 방법에 의할 수 있습니다.</li>
										<li>(하자재발통보 수령 주소 및 대표자) 자동차관리법 제47조의2제2항에 따른 하자재발 통보 수령 주소 및 대표자는 다음과 같습니다.<br/>
										口 주소<br/>
										- 등기우편 : 부산광역시 강서구 르노삼성대로 61 르노삼성자동차 고객지원센터<br/>
										- 전자우편 : webmaster@renaultsamsungM.com<br/>
										口 대표(수신인) : 르노삼성자동차 고객지원센터
										</li>
									</ul>
								</div>
							</div>
							<h3>[신청인 확인]</h3>
							<div class="lemonAgree">
								<div class="lLSBack">
									<p>본인은 귀사로부터 자동차 교환·환불중재 제도 요지 및 중요 안내사항에 대한 설명을 듣고 충분히 이해하였음을 확인합니다.</p>
									<div>
										<span class="checkSet">
											<input type="checkbox" id="chk1">
											<label for="chk1"><i></i>설명을 듣고 이해하였음</label>
										</span>
									</div>
								</div>
								<div class="lLSBack">
									<p>본인은 자동차 교환·환불중재 규정을</p>
									<div>
										<span class="checkSet">
											<input type="radio" id="chk2" name="chk2">
											<label for="chk2"><i></i>추후 중재 신청 시 수락하겠습니다.</label>
										</span>
										<span class="checkSet">
											<input type="radio" id="chk3" name="chk2">
											<label for="chk3"><i></i>지금 수락하겠습니다.<br/><em></em>(수락시점 이후 법원에 소송제기 불가)</label>
										</span>
									</div>
								</div>
								<div class="lLSBack">
									<p>본인은 자동차 교환·환불중재 규정에 따른 통지/연락을</p>
									<div>
										<span class="checkSet">
											<input type="checkbox" id="chk4">
											<label for="chk4"><i></i>전자우편, 문자메시지, 팩스 등을 통해 받겠습니다.</label>
										</span>
									</div>
								</div>
							</div>
							<!---->
							<div class="signSet">
								<div class="signItem">
									<div>
										<span class="signDim">서명활성화 버튼을 이용하여<br/>서명오염을 방지합니다.</span>
										<span></span>
										<strong><em>매수인</em>이름</strong>
									</div>
									<button class="btnS lineYellow">전체삭제</button>
									<button class="btnS lineYellow">부분삭제</button>
									<button class="btnS lineGray singToggleBtn">서명활성화</button>
								</div>
								<div class="signItem">
									<div>
										<span class="signDim">서명활성화 버튼을 이용하여<br/>서명오염을 방지합니다.</span>
										<span></span>
										<strong><em>매수인</em>서명</strong>
									</div>
									<button class="btnS lineYellow">전체삭제</button>
									<button class="btnS lineYellow">부분삭제</button>
									<button class="btnS lineGray singToggleBtn">서명활성화</button>
								</div>
							</div>
							<!---->
							<div class="btnSet">
								<button class="btnL gray" onClick="location.href='step03_contract.html'">이전</button>
								<button class="btnL yellow" onClick="location.href='step05_view.html'">다음</button>
							</div>
							<!---->
						</article>
                    </div>
            	</section>
            </div>
            <!---->
        </div>
        <!-- //wrap -->
    </body>
</html>
