@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @Author : Park, Hye ryeon (nancy.park@think-tree.co.kr)
* @File Name: Common.css
* @Version: 1.0
* @Create Date: 2018-01-24
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* ====================== */
/* TT UI library */
/* ====================== */
/* ===== Webfont ===== */
/* nanumgothic case */
@font-face{
	font-family:'NanumGothic';
	font-style: normal;
	font-weight: normal;
	src: url('../font/NanumGothic-Regular.eot');
	src: url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/NanumGothic-Regular.woff2') format('woff2'),
		 url('../font/NanumGothic-Regular.woff') format('woff'),
		 url('../font/NanumGothic-Regular.ttf') format('truetype');
}
@font-face{
	font-family:'NanumGothic';
	font-style: normal;
	font-weight: bold;
	src: url('../font/NanumGothic-Bold.eot');
	src: url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/NanumGothic-Bold.woff2') format('woff2'),
		 url('../font/NanumGothic-Bold.woff') format('woff'),
		 url('../font/NanumGothic-Bold.ttf') format('truetype');
}
@font-face{
	font-family:'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url('../font/NanumGothic-ExtraBold.eot');
	src: url('../font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../font/NanumGothic-ExtraBold.woff2') format('woff2'),
		 url('../font/NanumGothic-ExtraBold.woff') format('woff'),
		 url('../font/NanumGothic-ExtraBold.ttf') format('truetype');
}
/* ===== Default ===== */
/* outline:0 none; 웹접근성 및 Tab 이동 시 삭제요망 */
hr {display:none;}
dl,ul,ol,menu,li {list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,label,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
body, * {font-size:14px;font-family:'나눔고딕','Nanum Gothic','NanumGothic',Dotum,Sans-serif;color:#6a6a6a;}
html, body {min-width:1024px;max-width:1360px;height:100%;background:#cbcdcb;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
a {text-decoration:none;color:#555555;-webkit-tap-highlight-color:transparent;}
a img {border:none;}
img {vertical-align: top;}
address, caption, cite, code, dfn, em, th, var {font-style:normal;font-weight:normal;}
caption {display:none;}
label {-webkit-tap-highlight-color:transparent;}
.skip-navigation a {display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:0;line-height:0;}
.skip-navigation a:hover,.skip-navigation a:active,.skip-navigation a:focus {position:fixed;top:0;left:0;width:100%;height:auto;padding:8px 0 12px;font-weight:bold;font-size:14px;color:#fff;font-family:Tahoma;line-height:1;text-align:center;text-decoration:none;background:black;}
/* ===== Form ===== */
input[type="text"],
input[type="password"],
input[type="file"],
input[type="tel"] {padding:6px 12px;height:32px;line-height:20px;border-radius:2px;color:#303030;vertical-align:middle;font-size:12px;border:1px solid #e5e5e5;box-sizing:border-box;outline:0 none; /*safari, chrome*/}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {outline:0 none;/*safari, chrome*/}
input {outline:0 none;/*safari, chrome*/-webkit-appearance: none;border-radius:0;}
textarea {padding:10px;line-height:22px;border:1px solid #cfd8d8;box-sizing:border-box;outline:0 none;resize:none; /*safari, chrome*/}
select {padding:0 0 0 5px;height:27px;vertical-align:middle;border:1px solid #b2bbc3;outline:0 none; *height:auto;}
@supports (-webkit-appearance:none) {select {letter-spacing:-0.1em;}} /* for Chrome ≥ 28 & Opera ≥ 14 */
button,
input[type="button"] {outline:none;cursor:pointer;-webkit-appearance:none;}
iframe {border:0;}
/* file upload */
.fileex_back {position:relative;display:inline-block;overflow:hidden;vertical-align:middle;}
.fileex_back .fileex {position:absolute;left:0;top:0;z-index:5;width:90px;height:22px;cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: .0;-webkit-tap-highlight-color:transparent;}
.fileex_back .btnSet {position:relative;left:0;top:0;} /*button area*/
/* placeholder */
::-webkit-input-placeholder {color:#8d8d8d;font-size:12px;font-style: italic;} /* WebKit browsers */
:-moz-placeholder {color:#8d8d8d;font-size:12px;opacity:1;font-style: italic;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#8d8d8d;font-size:12px;opacity:1;font-style: italic;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#8d8d8d !important;font-size:12px;font-style: italic;}/* Internet Explorer 10+ */
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {border-color:#6189e3;background: #fff;}
input[type="text"]:disabled, input[type="password"]:disabled, select:disabled {color:#c0c7ce;border:#dadfe3;background:#e9ecef;}
input[type="text"]:read-only, input[type="password"]:read-only, select:read-only {color:#c0c7ce;border:#dadfe3;background:#e9ecef;}
/* radio */
.radioSet {position:relative;display:inline-block;vertical-align:middle;margin:0 13px 0 0;}
.radioSet input[type="radio"] {position:absolute;opacity:0;left:0;top:0;width:100%;height:17px;}
.radioSet label {position:relative;display:inline-block;font-size:14px;line-height:21px;font-weight:500;}
.radioSet label i {display:inline-block;margin:-2px 5px 0 0;padding:0;width:15px;height:15px;vertical-align:middle;text-align:center;border-radius:100%;border:1px solid #46a0fb;background:#fff;}
.radioSet input[type="radio"]:checked + label i:before,
.radioSet input[type="radio"]:disabled + label i:before {content:'';display:inline-block;margin:2px 0 0 2px;float:left;width:9px;height:9px;border-radius:50%;/* vertical-align:middle; */border:1px solid #46a0fb;background:#46a0fb;}
.radioSet.noTxt label {padding-left:17px;}
/* checkBox */
.checkSet {position:relative;display:inline-block;vertical-align:middle;margin:0 13px 0 0;}
.checkSet input[type="checkbox"] {position:absolute;opacity:0;left:0;top:0;width:100%;height:20px;}
.checkSet label {position:relative;display:inline-block;font-size:12px;line-height:17px;}
.checkSet label i {display:inline-block;width:12px;height:12px;padding:2px;margin:0 12px 0 0;vertical-align:middle;border:1px solid #7e8c99;background:#fff;}
.checkSet input[type="checkbox"]:checked + label i {background:#fff;border-color:#46a0fb;}
.checkSet input[type="checkbox"]:checked + label i:before,
.checkSet input[type="checkbox"]:disabled + label i:before {content:'';display:inline-block;width:10px;height:4px;margin:0 0 6px 0;border:2px solid #46a0fb;border-top:0;border-right:0;background:none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);}
.checkSet.noTxt {margin:0;}
.checkSet.noTxt label {padding:0;margin:0;}
.checkSet.noTxt label i {margin:0;}
/* txtSet */
.txtSet {display:table;width:100%;}
.txtSet div {display:table-cell;}
.txtSet div:first-child {width:100px;}
/* telSet */
.telSet {display:table !important;width:100%;box-sizing:border-box;}
.telSet .selectSet {width:100%;}
.telSet>span {display:table-cell;width:33.3%;padding-right:10px;float:left;box-sizing:border-box;}
.telSet>span:nth-child(3) {padding-right:0;}
/* addSet */
.addArea div.detail {margin-left:100px;}
.addSet {display:table;width:100%;}
.addSet div {display:table-cell;}
.addSet div:first-child {width:100px;}
.addSet div:nth-child(3) {width:80px;text-align:right;}
/* mailSet */
.mailSet {display:table;width:100%;}
.mailSet>span {display:table-cell;}
.mailSet>span:nth-child(1) {width:30%;}
.mailSet>span:nth-child(2) {width:30px;text-align:center;}
.mailSet>span:nth-child(3) {width:30%;padding-right:10px;}
/* fileSet */
.fileSet {position:relative;display:inline-block;}
.fileSet input {position:absolute;width:100%;height:100%;opacity:0;}
.fileSet button {display:inline-block;text-align:center;white-space:nowrap;vertical-align:middle;border:1px solid transparent;padding:5px 10px;border-radius:5px;background:#fff;border:1px solid #e4e6e8;}
/* select */
.selectSet {position:relative;display:inline-block;height:32px;border:1px solid #e5e5e5;box-sizing:border-box;outline:0 none;border-radius:2px;color:#333;background:white;}
.selectSet strong {display:inline-block;position:absolute;top:0;left:0;padding:4px 15px 6px 15px;width:100%;height:100%;line-height:24px;box-sizing:border-box;font-weight:500;color:#8d8d8d;font-size:12px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.selectSet strong:after {content:'';position:absolute;right:11px;top:14px;border-right: 4px solid transparent;border-left: 4px solid transparent;border-top: 5px solid #21c5da;}
.selectSet select {width:100%;height:100%;padding:0 10px 0 10px;opacity:0;filter:alpha(opacity=0);font-size:14px;color:#333;}
.selectSet select option {font-size:14px;color:#333;background:#fff;}
/* Calendar  */
.calSet {position:relative;}
.calSet .btnCal {position:absolute;right:0;top:-7px;width:34px;height:34px;border-radius:2px;background:url('../images/bg_btn.png') no-repeat right -41px;background-size:500px auto;cursor:pointer;border:0;}
input.cal {width:115px;padding:5px 35px 5px 10px;border:1px solid #cfd8d8;color:#000 !important;border:1px solid #e5e5e5;font-size:12px;color:#8d8d8d !important;}
input.timepicker {vertical-align:top; -webkit-appearance: none;border:1px solid #cfd8d8 !important;background:#fff !important;color:#303030 !important;}
/* required */
.required {position:relative;}
.required .retxt {display:none;padding:2px 10px;font-size:81%;color:red !important;}
/* root */
.root {position:fixed;z-index:10;left:208px;right:0;clear:left;display:inline-block;width:100%;min-height:39px;padding:11px 0;background:#e0f7fa;box-sizing:border-box;}
.root .rootBack {max-width:1072px;padding:0 20px;box-sizing:border-box;}
.root .pagePos {float:right;margin-bottom:5px;}
.root .pagePos a {position:relative;color:#474748;padding:0 15px 0 10px;font-size:12px;}
.root .pagePos a.list {color:#474748;}
.root .pagePos a.rootTit:before {content:'';display:inline-block;width:17px;height:17px;margin-top:-8px;background:url(../images/btn_header.png) no-repeat left -470px;vertical-align:middle;padding-right:8px;}
.root .pagePos span {position:relative;padding-left:6px;font-weight:bold;color:#277883;font-size:12px;}
.root .pagePos a:before, .root .pagePos span:before {content: '';position:absolute;left:-7px;top:8px;width:3px;height:3px;margin-left:3px;background:#a9b6cc;border-radius: 10px;}
.txtInfo {margin:3px 0 0;color:#474748;font-size:12px;}
/* ===== Interval ===== */
/* align */
.left {float:left;}
.right {float:right;}
.clearB {clear: both;}
.tLeft {text-align:left !important;}
.tRight {text-align:right !important;}
.tCenter {text-align:center !important;}
.hide {display:none !important;}
.block {display:block !important;}
.inBlock {display:inline-block;}
.vMiddle {vertical-align:middle !important;}
.vTop {vertical-align:top !important;}
/* space */
.pd0 {padding:0 !important;}
.pd5 {padding:5px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px;}
.pd20-t {padding:0 20px 20px !important;}
.pb10 {padding-bottom:10px;}
.pl5 {padding-left:5px !important;}
.pl12 {padding-left:12px !important;}
.pl15 {padding-left:15px !important;}
.plr25 {padding-left:25px !important;padding-right:25px !important;}
.plr5 {padding:0 5px;}
.pr10 {padding-right:10px;}
.pr12 {padding-right:12px;}
.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px !important;}
.pb5 {padding-bottom:5px !important;}}
.mg0 {margin:0 !important;}
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px;}
.mt6 {margin-top:6px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml20 {margin-left:20px !important;}
.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mW60{min-width:60px;}
.mW100 {min-width:100px;}
.w0 {width:0px !important;}
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:50px;}
.w60 {width:60px;}
.w70 {width:70px;}
.w80 {width:80px !important;}
.w90 {width:90px !important;}
.w95 {width:95px;}
.w100 {width:100px !important;}
.w105 {width:105px;}
.w110 {width:110px;}
.w120 {width:120px !important;}
.w130 {width:130px !important;}
.w140 {width:140px;}
.w145 {width:145px;}
.w160 {width:160px !important;}
.w180 {width:180px !important;}
.w200 {width:200px !important;}
.w225 {width:225px !important;}
.w260 {width:260px;}
.w280 {width:280px;}
.w400 {width:400px;}
.w600 {width:600px;}
.wSLong {width:85%;}
.wLong {width:90%;} 
.wWide {width:97%;} 
.wFull {width:100%;}
.h25 {height:25px !important;}
.h50 {height:50px;}
.h100 {height:100px;}
.h165 {height:165px;}
.h200 {height:200px;}
.h300 {height:300px;}
.h320 {height:320px;}
.line_h26 {line-height:26px;}
/* bg */
.bgBlue {background:#0070c0;}
.bgSkyblue {background:#00b0f0;}
.bgOrange {background:#ff6600;}
.bgYellow {background:#ffcc00;}
.bgPink {background:#ff6699;}
.bgGreen {background:#2bc191;}
.bgGray {background:#BFBFBF;}
/* txt */
.ftBlack {color:#1a1a1a !important;}
.ftGray {color:#8d8d8d !important;}
.ftRed {color:#ef5352 !important;}
.ftBlue {color:#0095da !important;}
.ftBlack {color:black;}
.ftPink {color:#ed6d6c;}
.ftGreen {color:#5f9778 !important;}
.ftGreen2 {color:#38ba62 !important;}
.ftDblue {color:#6b8aa8 !important;}
.tx_str {color:#f37159;font-size:14px;margin-left:5px;}
.cmt_a2 {display:inline-block;color:black;font-size:12px;margin-left:5px;}
.txtLine {text-decoration:underline;}
.ellipsis {display:inline-block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.b500 {font-weight:500;}
.ft12 {font-size:12px !important;}
.ft18 {font-size:18px !important;}
.ft22 {font-size:22px !important;}
/*line-height*/
.lh30{line-height:30px;} 
/**/
.gridSet {display:table;width:100%;}
.gridSet.pdCase div {display:table-cell;padding:0 5px;box-sizing:border-box;}
.gridSet.pdCase div:first-child {padding:0 5px 0 0;}
.gridSet.pdCase div:last-child {padding:0 0 0 5px;}
.gridSet.pdCase .box {display:inline-block;width:100%;}
.gridSet.rcCase>div {padding:0 10px;}
.gridSet.line {border-bottom:1px solid #eee;}
.gridItem {display:table-cell;}
.gI-100 {width:100%;}
.gI-03 {width:3%;}
.gI-1 {width:10%;}
.gI-15 {width:15%;}
.gI-2 {width:20%;}
.gI-25 {width:25%;}
.gI-3 {width:30%;}
.gI-4 {width:40%;}
.gI-5 {width:50%;}
.gI-6 {width:60%;}
.gI-7 {width:70%;}
.gI-8 {width:80%;}
.gI-9 {width:90%;}
/* ===== Table ===== */
.databox-line {border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-top:1px solid #21c6da;border-bottom:1px solid #8d8d8d;background:#fff;}
.databox-line .dboxeT {padding:10px;font-weight:bold;color:#474748;border-bottom:1px solid #ccc;background:#fff;}
/* list */
.rsls1 {padding:0;}
.rsls1 table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #e5e5e5;border-bottom:1px solid #8d8d8d;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}
.rsls1 table thead tr th {padding:0 5px;height:42px;color:#277883;font-weight:bold;font-size:12px;text-align:center;border-top:1px solid #21c5da;border-bottom:1px solid #8d8d8d;background:#fff;}
.rsls1 table thead .rsItem {font-size:12px;color:#277883;}
.rsls1 table thead .rsItem span {display:none;font-size:100%;color:#373737;}
.rsls1 table thead .rsItem span.showCol {display:inline-block;}
.rsls1 table tbody td {padding:10px 5px;text-align:center;vertical-align:middle;word-break:break-all;border-bottom:1px solid #e7ebeb;text-align:center;background:#fff;}
.rsls1 table tbody td,
.rsls1 table tbody td div {color:#373737;}
.rsls1 table tbody td div a {color:#373737;}
.rsls1 table tbody td a {text-decoration:underline;}
.rsls1 table tbody tr.listTop td {background:#fffae8;}
.rsls1 table tbody tr:hover td {position:relative;z-index:5;border-color:#ff7777;box-shadow:0 -1px 0 0 #ff7777;overflow:hidden;}
.rsls1 table tbody tr:hover td:first-child {box-shadow:0 -1px 0 0 #ff7777, inset 1px 0 0 0 #ff7777;}
.rsls1 table tbody tr:hover td:last-child {box-shadow:0 -1px 0 0 #ff7777, inset -1px 0 0 0 #ff7777;}
.rsls1 table tbody span.showCol {display:none;}
.rsls1 table tbody td.rsdate {padding:10px 2px;letter-spacing:-1px;}
/* list : 목록 */
table.tbls1 {border-collapse:collapse;border-spacing:0;width:100%;}
table.tbls1 thead tr th {height:38px;color:#666;font-weight:bold;text-align:center;background:#fafafa;font-size:12px;}
table.tbls1 thead tr th.absorption {height:24px;}
table.tbls1 tbody td {padding:5px 5px;height:25px;color:#4f4f4f;vertical-align:middle;word-break:break-all;border-top:1px solid #eeeeee;text-align:center;font-size:12px;}
table.tbls1 tbody th {padding:5px 5px;height:25px;color:#4f4f4f;vertical-align:middle;font-weight:bold;word-break:break-all;border-top:1px solid #eeeeee;text-align:center;}
/* paginate */
div.paginate {clear:left;display:inline-block;padding:20px 0;margin:0 auto;width:100%;text-align:center;}
div.paginate span {display:inline-block;height:30px;border:1px solid #e4e6e8;border-radius:5px;background:#fff;}
div.paginate a {display:inline-block;float:left;padding:0 8px;min-width:13px;height:30px;line-height:30px;font-size:12px;cursor:pointer;border-right:1px solid #e4e6e8;color:#474748;font-weight:600;}
div.paginate a:last-child {border-right:0;}
div.paginate a:hover {color:#21c5da;}
div.paginate a.on {color:#21c5da;}
.btnBox + div.paginate {padding:0 0 0;} 
/* write : 반응형 글쓰기 */
.rsws1 dl {display:table;width:100%;border-bottom:1px solid #eee;}
.rsws1 dl:last-child {border:none;}
.rsws1 dl dt {display:table-cell;width:80px;padding:15px 15px;vertical-align:middle;font-size:12px;line-height:12px;font-weight:bold;color:#277883;border-right:1px solid #e5e5e5;}
.rsws1 dl dt sup {display:inline-block;vertical-align:baseline;background:url('../images/icon_require.png') no-repeat left bottom;text-indent:-9999px;}
.rsws1 dl dt.cCase {border-left:1px solid #e5e5e5;}
.rsws1 dl dd {display:table-cell;padding:5px 10px;vertical-align:middle;}
.rsws1 dl dd .exposure i {margin-right:8px;}
.rsws1 .editorBack {padding:10px;border-bottom:1px solid #eee;}
.rsws1 .editorBack:last-child {border-bottom:none;}
.rsws1 .editorBack .title {padding:0 5px;padding-bottom:10px;font-size:12px;line-height:12px;font-weight:bold;color:#277883;}
.rsws1 .editorBack .title button {margin-left:10px;}
.rsws1 .rswsT {padding:10px;border-bottom:1px solid #eee;}
/* view : 게시판 글보기 */
table.tbvs1 {border-collapse:collapse;width:100%;line-height:150%;}
table.tbvs1 tbody tr th {padding:10px 10px 10px 20px;text-align:left;color:#1d1d1d;border-right:1px solid #eee;border-left:1px solid #eee;border-top:1px solid #eee;background:#f9f9f9;}
table.tbvs1 tbody tr td {padding:10px 10px;color:#1d1d1d;word-break:break-all;border-top:1px solid #eee;}
/* ===== Btn ===== */
/**/
.btnSet,
.btnSet * {padding:0;margin:0;position:relative;vertical-align:top;height:30px;display:inline-block;overflow:visible;font-weight:normal;color:#666;cursor:pointer;text-decoration:none !important;white-space:nowrap;border:0;background:#fafafa;border-radius:5px;}
.btnSet {height:30px;padding-right:3px;border:none;overflow:hidden;}
.btnSet * {width:auto;padding:0 10px 0 35px;color:#fff;line-height:28px;text-align:left;vertical-align:middle;background:url("../images/bg_btn.png") no-repeat;background-size:500px auto;}
.btnSet img {padding:0;margin:0;display:block;}
.btnSet input {line-height:25px;}
.btnSet.onlytxt {padding:0;}
.btnSet.onlytxt * {padding:0 6px;color: #666;background:none;}
/* btnSet */
.btnSet.delete {background-color:#2c3638;}
.btnSet.delete * {background-position:left -120px;}
.btnSet.save {background-color:#ed6d6c;}
.btnSet.save * {background-position:left -80px;}
.btnSet.write {background-color:#735de7}
.btnSet.write2 {border-radius:5px;background-color:#23b284;}
.btnSet.write *,
.btnSet.write2 * {background-position:left -160px;}
.imgup {height:22px;padding:3px 0;background-color:#fff;border:1px solid #20c5db;border-radius:3px;font-size:12px;box-sizing:border-box;}
.imgup * {color:#20c5db;padding:4px 10px;line-height:22px;font-size:12px;}
/* btn size */
.btnlg {line-height:26px !important;}
.btnsm {line-height:18px !important;}
/* btnC */
.btnC {display:inline-block;padding:5px 10px;text-align:center;line-height:22px;vertical-align:middle;color:#fff;cursor:pointer;border:none;background:#a8a8a8;border-radius:5px;font-weight:500;}
.btnC:hover {color: rgba(255,255,255,.85)!important;}
.btnC.whi {background:#fff;color:#627384;border:1px solid #c2c2c2;}
.btnC.whi:hover {background:#ececec;color:#607084 !important;}
.btnC.blue {background:#53a6fa;}
.btnC.blue:hover {background:#4596e7;}
.btnC.dBlue {background:#6284f3;}
.btnC.dBlue:hover {background:#5273e0;}
.btnC.purp {background:#735de7;}
.btnC.purp:hover {background:#7c6ad9;}
.btnC.gre {background:#1c965b;}
.btnC.gre:hover {background:#369869;}
.btnC.cyan {background:#109789;}
.btnC.cyan:hover {background:#2d998e;}
.btnC.yel {background:#fdab29;}
.btnC.yel:hover {background:#ea9d22;}
.btnC.red {background:#dc1632;}
.btnC.red:hover {background:#d03248;}
.btnC.black {background:#10161d;}
.btnC.black:hover {background:#2d3237;}
.btnC:disabled {background-color:#fff;color:#a1acb7;border:1px solid #e9ecee;}
.btnC:disabled:hover {color:#a1acb7 !important;}
/* btnL */
.btnL {display:inline-block;padding:0 10px;height:32px;line-height:22px;font-size:12px;font-weight:500;text-align:center;vertical-align:middle;color:inherit;cursor:pointer;border:1px solid #a8a8a8;background:none;border-radius:3px;}
.btnL.blue {border-color:#2e93f9;color:#2e93f9;}
.btnL.blue:hover {background:#4596e7;}
.btnL.cyan {border-color:#21c5da;color:#21c5da;}
.btnL.cyan:hover {background:#21c5da;}
.btnL.gre {border-color:#22b66e;color:#22b66e;}
.btnL.gre:hover {background:#369869;}
.btnL.yel {border-color:#fdab29;color:#fdab29;}
.btnL.yel:hover {background:#ea9d22;}
.btnL.red {border-color:#ea2e49;color:#ea2e49;}
.btnL.red:hover {background:#d03248;}
.btnL.dBlue {border-color:#6284f3;color:#6284f3;}
.btnL.dBlue:hover {background:#5273e0;}
.btnL.purp {border-color:#907eec;color:#907eec;}
.btnL.purp:hover {background:#7c6ad9;}
.btnL.black {border-color:#000;color:#000;}
.btnL.black:hover {background:#000;color:#fff !important;}
.btnLr {border-radius:15px;padding:6px 18px;}
/* btnS */
.btnS {display:inline-block;width:101px;height:32px;text-align:center;font-size:14px;line-height:30px;font-weight:bold;border:none;cursor:pointer;box-sizing:border-box;border:1px solid #e5e5e5;color:#484848;background:#fff;}
.btnS.blue {color:#46a0fb;border-color:#8cc4fc;}
.btnS.red {color:#ff3254;border-color:#ffa6b4;}
.btnS.sky {color:#21c5da;border-color:#21c5da;}
/*목록 정렬*/
.sort {display:inline-block;margin:0 0 0 2px;padding:0;height:18px;width:9px;border:0;font-size:0;line-height:10000%;overflow:hidden;cursor:pointer;border:none;vertical-align:middle;background:url("../images/bg_btn.png") no-repeat;background-size:500px auto;background-position:right -320px;}
.sort.sup {background-position:-464px -320px;}
.sort.sdown {background-position:-426px -320px;}
.sort.sre {background-position:right -320px;}
/* 검색 */
.list-search {position:relative;display:inline-block;}
.list-search div {position:relative;display:inline-block;vertical-align:middle;}
.list-search div input[type="text"] {position:relative;width:180px;}
.list-search div input[type="text"]:focus {box-shadow:none;}
.list-search div input.search-icon {position:absolute;right:2px;top:2px;display:inline-block;width:28px;height:28px;text-indent:-9999px;font-size:0;border:none;overflow:hidden;background:white url("../images/bg_btn.png") no-repeat -465px -471px;background-size:500px auto;cursor:pointer;}
.resetButton {position:absolute;right:0;top:0;}
.searchButton {position:absolute;display:inline-block;top:50px;right:50px;width:30px;height:30px;text-indent:-9999px;white-space:nowrap;overflow:hidden;border:none;background:url('../images/search.png') no-repeat;background-size:32px auto;}
 /* 첨부파일 셋트 */
.fileSelected {display:inline-block;font-size:12px;}
.fileSelected:before {content:'';display:inline-block;width:16px;height:10px;margin:1px 10px 0 0;border:0;font-size:0;line-height:-9999px;overflow:hidden;cursor:pointer;border:none;vertical-align:middle;background:#fff url("../images/icon_down.png") no-repeat;vertical-align:top;}
/**/
.lineBox {margin-bottom:20px;}
.lineBox .back {padding:10px 20px;text-align:center;border:3px solid #e6e6e8;background:#fff;}
.lineBox .box {display:inline-block;padding:0 10px;vertical-align: top;}
.lineBox p {font-size:14px;text-align:left;line-height: 22px;}
.lineBox span {display:block;padding:5px 0;font-size:14px;line-height:16px;color:#ed6d6c;}
/**/
.box {margin-bottom:20px;background:#fff;box-shadow: 0 0 1px rgba(0,0,0,.15);}
.box .boxT {padding:13px 24px;}
.box .boxT strong {font-size:16px;}
.box .boxT span {font-size:14px;color:#a1abb5;}
.box .boxT.bg {background-color: #f9fafc;}
.box .boxT.bgBlue {background-color: #53a6fa;}
.box .boxT.bgBlue strong {color:#fff;}
.box .boxT.bgGray {background-color: #e4ecf5;}
.box .boxT.bgGray strong {margin-right:10px;font-size:14px;font-weight:500;}
.box .boxT.bgGray span {font-size:14px;color:#6a6a6a;}
.box .boxB {padding:10px 24px;}
/* ===== Tab ===== */
/* ===== Login ===== */
.loginCase {min-width: 100% !important;max-width: 100% !important;}
#login {height:100%;overflow-y:auto;background-color:#2b2e33;}
.loginLayout {display:table;padding:0 20px;max-width:400px;height:100%;margin:0 auto;}
.loginForm {padding:15% 0;display:table-cell;vertical-align: middle;}
.loginForm h1 {color:#fff;text-align:center;font-size:20px;}
.loginForm h1 img {display:block;padding-bottom:0;width:100%;}
.loginForm .visitantType div {position:relative;margin:15px 0;height:32px;line-height:32px;text-align:center;font-size:16px;font-weight:bold;color:#30c797;border-radius:15px;background:#1a1c1f;} /* 2017-07-12 margin변경 by hr-park */
.loginForm .visitantType div:after {content:"";display:block;position:absolute;bottom:-15px;left:0;width:100%;height:1px;background:#626262;}
.loginForm form {width:300px;padding-top:9px;}
.loginForm .inputBox {margin-top:24px;padding-right: 3%;border-radius:6px;height:50px;border-top:3px solid #888784;border-left:3px solid #888784;background-color:white;}
.loginForm .inputBox input {display:inline-block;padding:15px 0 0 13px;width:100%;font-size:116%;border:none;color:#7a7a7a;box-sizing:border-box;background:none;}
.loginForm .inputBox input[type="text"]:focus, .loginForm .inputBox input[type="password"]:focus {border:none;box-shadow:none;}
.loginForm .checkSet {margin:20px 0 0 6px;}
.loginForm .checkSet>label {color:#fff;}
.loginForm .btnLogin {display:block;margin:25px auto 0;width:96px;height:96px;text-indent:-9999px;font-size:0;border:none;background:url("../images/btn_login.png") no-repeat;}
.loginForm p {position:relative;margin-top:35px;padding-left:15px; color:#929191; font-size: 12px;line-height: 20px;}
.loginForm p:before {content: "※";display:block;position:absolute;left:0;vertical-align:middle;width:20px;height:20px;clear:both;color:#929191;overflow: hidden;}
/* ===== Error ===== */
#error {position:absolute;z-index:2000;top:0;left:50%;margin:150px 0 0 -380px;display:table-cell;padding:0 0 30px 0;width:760px;min-height:200px;color:#333333;line-height:22px;vertical-align:middle;text-align:center;border:1px solid #ccc;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;box-shadow:0 1px 10px rgba(0,0,0,.2);background:#fff;font-size:12px;letter-spacing:-0.05em;}
#error h1 {padding:25px 10px;margin-bottom:35px;font-size:20px;color:#6a6a6a;border-bottom:3px solid #52caca;}
#error h1 img {max-width:100%;}
#error>strong {display:block;padding:0 10px;font-size:30px;line-height:36px;color:#587a95;}
#error div {padding:10px 10px 15px;}
#error div strong {color:#47bac1;font-weight:bold;font-size:14px;}
#error p {padding:0 10px;font-size:12px;word-break: keep-all;}

/* ====================== */
/* Project library */
/* ====================== */
/* ===== Common ===== */
/* GNG */
.mobileMenu {position:fixed;top:0;bottom:0;left:0;padding:0;margin:0;z-index:30;zoom:1;width:208px;overflow:visible;background:#474748;}
#header h1 {position:relative;padding:0 10px;width:100%;height:56px;overflow:hidden;zoom:1;background:#474748;box-sizing:border-box;}
#header h1 img {margin:5px 0 0;width:100%;}
/**/
#container {position:relative;height:100%;}
#container .head {position:fixed;position:device-fixed;z-index:25;top:0;min-width:320px;width:100%;height:56px;text-align:left;border-bottom:1px solid #1eb1c4;background:#fff;transform: translateZ(0);-webkit-transform: translateZ(0);-webkit-backface-visibility:hidden;background:#21c5da;}
#container .head:after {content:"";display:block;position:absolute;top:56px;left:0;width:100%;height:0;}
#container .head .back {padding:0 0 0 208px;max-width:1072px;}
#container .head h2 {display:inline-block;padding:0 0 0 16px;line-height:53px;}
#container .head h2 strong {color:#fff;font-size:20px;}
#container .head input[type="button"].btnGnbMobile {display:none;}
#container .head .rBtn {float:right;display:inline-block;padding-right:16px;line-height:55px;}
#container .head .rBtn div {display:inline-block;}
#container .head .rBtn .btnHome {display:inline-block;width:42px;height:20px;text-indent:-9999px;background:url(../images/btn_header.png) no-repeat left -274px;border:0;}
#container .head .rBtn .btnLogout {display:inline-block;width:42px;height:20px;text-indent:-9999px;background:url(../images/btn_header.png) no-repeat left -342px;border:0;}
#container .head .rBtn .btnSite {display:inline-block;width:42px;height:20px;text-indent:-9999px;background:url(../images/btn_header.png) no-repeat left -413px;border:0;}
/* .comLayout {padding:56px 0 0 208px;} */
.comLayout {padding:0 0 0 0;}
/* .contents {overflow:hidden;padding:20px;margin-top:50px;} */
.contents {overflow:hidden;padding:20px;margin-top:0;}
.btnBox {overflow:hidden;padding-top:10px;}
/* 목록 상하단 공통 */
.boardTop {clear:both;position:relative;display:inline-block;width:100%;box-sizing:border-box;}
.boardTop .left {line-height:34px;}
.boardTop .left strong {font-size:100%;}
.boardTop.tabCase {padding:5px 0px;}
.boardTop.tabCase .tab {margin-bottom:0;}
.boardTop.viewCase {border-bottom:1px solid #b8b8b8;}
.exhibitTop {margin-top:-10px;padding:0 20px 10px;}
/**/
.gnb {background:#333;box-shadow:inset 0 1px 8px black;}
.gnb ul li span {position:relative;display:inline-block;width:100%;padding:0 0 0 15px;box-sizing:border-box;}
.gnb ul li span:before {content:'';display:inline-block;margin:-2px 10px 0 0;width:8px;height:8px;vertical-align:middle;border-radius:100%;border:2px solid #464c54;transition: all .15s ease-in-out;}
.gnb ul li.snbCase>span:after {content:'';display:inline-block;float:right;width:2px;height:2px;position:absolute;right:20px;top:50%;margin-top:-1px;border-top:4px solid gray;border-left:4px solid transparent;border-right:4px solid transparent;}
.gnb ul li.on span:after {border-top:0 none;border-bottom:4px solid #53a6fa;margin-top:-4px;}
.gnb ul li span strong {display:inline-block;padding:10px 0;color:#69717a;cursor:pointer;}
.gnb ul li span a {display:inline-block;padding:10px 0;font-weight:bold;color:#69717a;}
.gnb ul li ol {display:none;}
.gnb ul li ol li a {display:inline-block;width:100%;padding:5px 0 5px 38px; margin-bottom:5px;color:#69717a;box-sizing:border-box;}
.gnb ul>li span:hover {background:rgba(255,255,255,.1);}
.gnb ul li.on:first-child, .gnb ul li:first-child:hover {box-shadow:inset 2px 0 0 0 red;}
.gnb ul li.on:nth-child(2), .gnb ul li:nth-child(2):hover {box-shadow:inset 2px 0 0 0 orange;}
.gnb ul li.on:nth-child(3), .gnb ul li:nth-child(3):hover {box-shadow:inset 2px 0 0 0 yellow;}
.gnb ul li.on:nth-child(4), .gnb ul li:nth-child(4):hover {box-shadow:inset 2px 0 0 0 #6de46d;}
.gnb ul li.on:nth-child(5), .gnb ul li:nth-child(5):hover {box-shadow:inset 2px 0 0 0 #71abe6;}
.gnb ul li.on:nth-child(6),.gnb ul li:nth-child(6):hover {box-shadow:inset 2px 0 0 0 #c277ef;}
.gnb ul li.on:nth-child(7),.gnb ul li:nth-child(7):hover {box-shadow:inset 2px 0 0 0 #f97398;}
/**/
.gnb ul>li.on:first-child>span>strong,
.gnb ul>li.on:first-child>span>a,
.gnb ul>li:first-child:hover>span>strong,
.gnb ul>li:first-child:hover>span>a {color:red;}
.gnb ul>li.on:nth-child(2)>span>strong,
.gnb ul>li.on:nth-child(2)>span>a,
.gnb ul>li:nth-child(2):hover>span>strong,
.gnb ul>li:nth-child(2):hover>span>a {color:orange;}
.gnb ul>li.on:nth-child(3)>span>strong,
.gnb ul>li.on:nth-child(3)>span>a,
.gnb ul>li:nth-child(3):hover>span>strong,
.gnb ul>li:nth-child(3):hover>span>a  {color:yellow;}
.gnb ul>li.on:nth-child(4)>span>strong,
.gnb ul>li.on:nth-child(4)>span>a,
.gnb ul>li:nth-child(4):hover>span>strong,
.gnb ul>li:nth-child(4):hover>span>a {color:#6de46d;}
.gnb ul>li.on:nth-child(5)>span>strong,
.gnb ul>li.on:nth-child(5)>span>a,
.gnb ul>li:nth-child(5):hover>span>strong,
.gnb ul>li:nth-child(5):hover>span>a  {color:#71abe6;}
.gnb ul>li.on:nth-child(6)>span>strong,
.gnb ul>li.on:nth-child(6)>span>a,
.gnb ul>li:nth-child(6):hover>span>strong,
.gnb ul>li:nth-child(6):hover>span>a {color:#c277ef;}
.gnb ul>li.on:nth-child(7)>span>strong,
.gnb ul>li.on:nth-child(7)>span>a,
.gnb ul>li:nth-child(7):hover>span>strong,
.gnb ul>li:nth-child(7):hover>span>a {color:#f97398;}
/**/
.gnb ul li.on:first-child span:before, .gnb ul li:first-child:hover span:before {border-color:red;}
.gnb ul li.on:nth-child(2) span:before, .gnb ul li:nth-child(2):hover span:before {border-color:orange;}
.gnb ul li.on:nth-child(3) span:before, .gnb ul li:nth-child(3):hover span:before {border-color:yellow;}
.gnb ul li.on:nth-child(4) span:before, .gnb ul li:nth-child(4):hover span:before {border-color:#6de46d;}
.gnb ul li.on:nth-child(5) span:before, .gnb ul li:nth-child(5):hover span:before {border-color:#71abe6;}
.gnb ul li.on:nth-child(6) span:before, .gnb ul li:nth-child(6):hover span:before {border-color:#c277ef;}
.gnb ul li.on:nth-child(7) span:before, .gnb ul li:nth-child(7):hover span:before {border-color:#f97398;}
.gnb ul li.on:hover span {background:none;}
.gnb ul li.on ol {display:inline-block;width:100%;}
.gnb ul li.on ol a:hover {background:rgba(255,255,255,.1);}
.gnb ul li.on ol li.on a {color:#53a6fa;}
.gnb ul li ul li {padding-left:30px;}
.gnb ul li ul li span:before {display:none;}
.gnb ul li ul li span:after {display:none;}
.gnb ul li ul li:hover a {color:#fff !important;}
.gnb ul li ul li:hover span:before {display:none;}
.gnb ul li ul li:hover {box-shadow:inherit !important;}
.gnb ul li ul li.on a {color:#fff !important;}
.gnb ul li ul li.on {box-shadow:inherit !important;}
/* conView */
.conView .conBox {background:#fff;border-top:1px solid #20c5d9;border-bottom:1px solid #8d8d8d;border-right:1px solid #e5e5e5;}
.conView .conBox .boxT {overflow:hidden;}
.conView .conBox .boxB {padding:0;}
.conView .conBox .gridSet {/* padding:5px; */border-bottom:1px solid #e5e5e5;box-sizing:border-box;}
.conView .conBox .gridSet>.gridItem {width:49%;vertical-align:middle;}
.conView .conBox .gridSet .gridItem .gridItem {padding:13px 15px;box-sizing:border-box;}
.conView .conBox .gridSet .gridItem .gridItem:first-child {box-sizing:border-box;font-weight:bold;color:#277985;font-size:12px;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;}
.conView .rsws1 dl dt {width:98px;}
.conView .rsls1 table td {text-align:left;}
.conView .rsls1 table tbody tr td {background:#fff;}
.conView .rsls1 table tbody tr:hover td {box-shadow: 0 -1px 0 0 transparent !important;border-bottom:1px solid #e7ebeb;}
.conView .tab-con1 .gridItem {border-left:1px solid #e5e5e5;}
.conView .tab-con1 .gridItem:first-child {border-left:0;}

/* ===== Pop (레이어팝업) ===== */
#blind_wrap {position:fixed;left:0;top:0;bottom:0;display:block;width:100%;z-index:99;background:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;}
#wrap.popOpen {overflow:hidden;height:100%;}
.modalOpen #wrap {position:fixed;height:100%;top:0;right:0;bottom:0;left:0;overflow:hidden;}
/* ====================== */
.commonPop {display:inline-block;position:fixed;z-index:3005;top:40%;left:50%;;margin:-100px 0 0 -200px;width:400px;height:auto;box-shadow:0 8px 8px rgba(0, 0, 0, 0.5);background:#fff;overflow:hidden;}
.commonPop .popData {min-height:108px;background-color:#dbe3e8;overflow-y:auto;}
.commonPop .popData>div {padding:20px;}
.commonPop .popData p {font-size:12px;}
.commonPop .popHeader {position:relative;height:49px;border-bottom:1px solid #1d2228;background:#fff;}
.commonPop .popHeader strong {display:inline-block;font-size:16px;padding:15px 17px;}
.commonPop .popHeader .pclose {position:absolute;right:12px;top:16px;width:14px;height:14px;text-indent:-9999px;border:none;cursor:pointer;overflow:hidden;background:url('../images/btn_search_close.png') no-repeat center center;background-size:18px auto;}
.popBtn {position:absolute;bottom:0;height:60px;width:100%;padding:10px;line-height:60px;box-sizing:border-box;}
.popBtn .back {display:table;width:100%;height:100%;background:#fff;text-align:center;}
.popBtn .back .btnpSet {display:table-cell;width:50%;height:100%;float:left;font-weight:bold;color:#383c3f;text-align:center;vertical-align:middle;border:0;background:#fff;border:1px solid #2e353a;}
.popBtn .back .btnpSet:last-child {color:#fff;background:#2e353a;}
/**/
.simPop {width:900px;margin-left:-450px;}
.simPop .vinTxt {padding:10px 15px;font-weight:bold;color:#000;}
.simPop .popData {height:345px;}
/**/
.servicePop {width:900px;margin-left:-450px;}
.servicePop .vinTxt {padding:10px 15px;font-weight:bold;color:#000;}
.servicePop .popData {height:345px;}

/**/
.pageLoading {position:fixed;z-index:30000;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.2);}
@keyframes spinner {
	to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
	to {-webkit-transform: rotate(360deg);}
}
.spinner {position: absolute;width:80px;height:80px;top:50%;left:50%;margin:-40px 0 0 -40px;min-width: 80px;min-height: 80px;}
.spinner:before {content: 'Loading…';position: absolute;top: 50%;left: 50%;width: 80px;height: 80px;margin-top: -40px;margin-left: -40px;}
.spinner:not(:required):before {content: '';border-radius: 50%;border: 3px solid #fff;border-top-color: #ffcc33;animation: spinner .6s linear infinite;-webkit-animation: spinner .6s linear infinite;}
/**/